<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CardapioMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/lumen.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CardapioMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 200px;
            padding: 20px;
            background-image: url("/images/teste.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .sidebar .nav-link {
                display: block;
                margin-bottom: 30px;
                transition: all 0.3s ease;
                color: white;
                text-align: center;
            }

                .sidebar .nav-link:hover {
                    text-decoration: none;
                    background-color: lightslategrey;
                    color: white;
                    transform: scale(1.1);
                }

                .sidebar .nav-link i {
                    color: white;
                }

        .content {
            margin-left: 200px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"> <i class="bi bi-house-fill"></i>Home</a>
        <a class="nav-link" asp-area="" asp-controller="Produto" asp-action="Index"> <i class="bi bi-clipboard2-minus-fill"></i>Lista de Produtos</a>
        <a class="nav-link" asp-area="" asp-controller="Calorias" asp-action="Calorias"> <i class="bi bi-clipboard2-minus-fill"></i>Informações de Calorias</a>
    </div>

    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar .nav-link').hover(
                function () {
                    $(this).addClass('active');
                },
                function () {
                    $(this).removeClass('active');
                }
            );
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


