@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url("/images/fundohome.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-center {
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            text-align: center;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .button {
            display: inline-block;
            border-radius: 50%;
            background-color: green;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            transition: transform 0.3s ease;
            border: 2px solid white;
            transform: scale(1.5);
        }

            .button:hover {
                transform: scale(1.7);
            }

        p {
            font-size: 150%;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Bem Vindo</h1>
        <p style="font-size: 150%;">
            "Descubra o poder do nosso sistema de cardápio personalizado! Com a facilidade de inserir o nome do produto, peso e valor, você terá seu cardápio renovado em instantes. Além disso, aproveite a funcionalidade exclusiva de calcular as calorias dos alimentos para oferecer opções saudáveis aos seus clientes. Transforme seu restaurante com praticidade e informação!"
        </p>
        <div class="button-container">
            <a href="/Produto" class="button">Entrar</a>
        </div>
    </div>
</body>
</html>
